
.img{
    position: absolute;
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    transition: transform .2s;
}
.img:hover{
    transform: scale(1.2); 
}
.card{
    cursor: pointer;
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    overflow: hidden;
}
Col{
    width: 100px;
}
.Row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title{
    position: absolute;
    font-family: 'Arial';
    bottom: 0;
    transform: translateY(50%);
    transition: 0.3s;
    font-size: 17px;
    color: rgb(48, 29, 29);
    padding: 10px;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.66);
    box-shadow: -2px -10px 5px rgba(0, 0, 0, 0.144);
}

.title:hover {
    transform: translateY(10%);
}

.nevbar_com .nav-link{
    background-color: aliceblue;
    color: rgb(58, 69, 105);
    border-radius: 20px;
}

.navbar_com .nav-link:hover{
    color: white;
    background-color: rgb(58, 69, 105);
    border-radius: 20px;
}
.navbar_com .navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
}

@media (max-width:1420px) {
    .Row{
        grid-template-columns:repeat(3, 1fr);
    }
}
@media (max-width:1000px) {
    .Row{
        grid-template-columns:repeat(2, 1fr);
    }
}
@media (max-width:500px) {
    .Row{
        grid-template-columns:repeat(1, 1fr);
    }
}
